<nav class="navbar toolbar fixed-top">
    <div style="position: relative;">
      <img height="45px" src="../../../assets/nist_logo.png">
      <a class="navbar-brand toolbar-name"> Validation Report Summary Tool
        <span class="toolname-abbrv">(VRS) v0-Under-Construction</span>
      </a>
    </div>
    <nav class="nav-links-bar navbar navbar-expand-sm fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item myclass" routerLink="analysis" routerLinkActive="active">
          <a class="nav-link">Analysis</a>
        </li>

      </ul>

    </nav>
  </nav>
  
  
  